$primarytextcolor: rgba(0, 0, 0, 0.8);
$titletextcolor: #000000;
$notitletextcolor: #212121;
$accentcolor: #2196f3;
$primarywhitecolor: #ffffff;
$fonecolor: #e5e5e5;
$fonecolorcotrast: #757575;
$noprimarycolor: #f5f4fa;
$contactcolor: rgba(255, 255, 255, 0.6);
$cardsetmargin: 30px;
$greyboarder: #afb1b8;
