
.advanÑes__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $fonecolorcotrast;
  margin-top: 10px;
  
}

.advances {
  display: flex;
  justify-content: center;
   background-color: $primarywhitecolor;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  
  &__box {

  }
// justify-content: space-between;

  &__item {
    width: 100%;
    margin-bottom: 30px;
     margin-left: auto;
    margin-right: auto;
  
  }
  &__item:last-child {
    margin-bottom: 0;
  }
  &__card {
    width: 100%;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  &__name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $titletextcolor;
    margin-top: 30px;
  }
}
@media screen and (min-width: 480px){
  .advances__box{
    max-width: 480px;
  }
}
@media screen and (min-width: 769px) {
  
  .advances__box {
    max-width: 769px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
  .advances__item{
    max-width: 354px;
  }
  .advances__box>.advances__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}