.hero,
.hero__name,
.pres {
  list-style: none;
}
.color-adventage {
  background-color: $fonecolor;
}

.insta {
  width: 20px;
  height: 20px;
  fill: $primarywhitecolor;
  justify-content: center;
  align-items: center;
  display: flex;
}
.twiter {
  width: 20px;
  height: 20px;
  fill: primarywhitecolor;
  justify-content: center;
  align-items: center;
  display: flex;
}
.facebook {
  width: 20px;
  height: 20px;
  fill: primarywhitecolor;
  justify-content: center;
  align-items: center;
  display: flex;
}
.linkedin {
  width: 20px;
  height: 20px;
  fill: primarywhitecolor;
  justify-content: center;
  align-items: center;
  display: flex;
}
.advanсes__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $fonecolorcotrast;
  margin-top: 10px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.description-member {
  padding: 30px 32px;
}

.hero {
  width: 100%;
  max-width: 1600px;
  background-color: rgba(47, 48, 58, 0.4);
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Hero.jpg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  & .container {
    width: 696px;
  }
  &__name {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primarywhitecolor;
    margin-bottom: 30px;
    margin-top: 0px;
  }
}

.hero__backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    opacity: inherit;
    pointer-events: none;
  }
}
.pres {
  display: block;
  position: relative;
  background: $accentcolor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $primarywhitecolor;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  min-width: 200px;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    transition-duration: 250ms;
    background-color: rgba(24, 140, 232, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus {
    transition-duration: 250ms;
    background-color: rgba(24, 140, 232, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.presi {
  font-family: inherit;
  background: $noprimarycolor;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  color: $notitletextcolor;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  margin-right: 8px;
  transition-duration: 250ms;

  &:focus {
    background-color: $accentcolor;
    color: $primarywhitecolor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover {
    background-color: $accentcolor;
    color: $primarywhitecolor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* Main */
.advances {
  justify-content: space-between;
  &__color {
    background-color: $primarywhitecolor;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  &__item {
    width: 270px;
    height: 251px;
    margin-right: 30px;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__card {
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  &__name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $titletextcolor;
    margin-top: 30px;
  }
}

/* box-advantage */

.activity {
  display: flex;
  max-width: 1170px;
  padding-left: 0px;

  &__item {
    position: relative;
    margin-right: 30px;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.13px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__box {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
  }
}

.section {
  &__name {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $notitletextcolor;
    margin-right: auto;
    margin-left: auto;
  }
  &:nth-child(3) {
    padding-top: 0;
  }
}

/* ==========PARTNERS=================== */
.partners {
  display: flex;

  &__box {
    width: 170px;
    height: 92px;
    border: 1px solid $greyboarder;
    border-radius: 4px;
    background-color: $primarywhitecolor;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    color: $greyboarder;
    transition-duration: 250ms;
  }
  &__box:hover {
    border: 1px solid $accentcolor;
    color: $accentcolor;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__box:focus {
    border: 3px solid $accentcolor;
    color: $accentcolor;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  & li {
    margin-right: 30px;
  }
  & li:last-child {
    margin-right: 0;
  }
}

.partners__img {
  fill: currentColor;
  justify-content: center;
  align-items: center;
  display: flex;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    fill: currentColor;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* ==========PARTNERS=================== */

.team {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;

  &__color {
    background-color: $noprimarycolor;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
  &__prof {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $fonecolorcotrast;
    margin-bottom: 20px;
  }
}

.team__member {
  width: 270px;
  height: 428px;
  margin-right: 30px;
  background-color: $primarywhitecolor;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 0px 4px 4px;

  &:last-child {
    margin-right: 0;
  }
  &-name {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $titletextcolor;
    margin-bottom: 10px;
  }
}

.media__link {
  width: 206px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin-top: 20px;
}

.item__name-project {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $notitletextcolor;
}
.media__circles {
  fill: $greyboarder;
  justify-content: center;
  align-items: center;
  display: flex;
}
.media__circle {
  width: 44px;
  height: 44px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;

  &:hover,
  &:focus,
  &:active {
    transition-duration: 250ms;
    background-color: $accentcolor;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.team-link {
  &__circle {
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    color: $greyboarder;
  }
  &__social-name {
    width: 20px;
    height: 20px;
    fill: currentColor;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  &__circle:hover,
  &__circle:focus {
    transition-duration: 250ms;
    color: $primarywhitecolor;
    background-color: $accentcolor;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.team__link-member {
  width: 206px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
