.partners {
    width: 100%;
    justify-content: center;
    display: flex;
    
    &__box {
        max-width: 210px;
        height: 92px;
        border: 1px solid $greyboarder;
        border-radius: 4px;
        background-color: $primarywhitecolor;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        display: flex;
        color: $greyboarder;
        transition-duration: 250ms;
    }
    &__card-set{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
        margin-top: calc(-1 * 30px);
        margin-left: calc(-1 * 30px);
    }
    &__card-set>li {
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
        margin-top: 30px;
    }

    &__box:hover {
        border: 1px solid $accentcolor;
        color: $accentcolor;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__box:focus {
        border: 3px solid $accentcolor;
        color: $accentcolor;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    // & li {
    //     margin-right: 30px;
    // }

    // & li:nth-last-child {
    //     margin-right: 0;
    // }
}

.partners__img {
    fill: currentColor;
    justify-content: center;
    align-items: center;
    display: flex;
    transition-duration: 250ms;

    &:hover,
    &:focus {
        fill: currentColor;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}