// * {
  
//   box-sizing: border-box;
// }
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__link,
.navigation__link,
.contacts__link,
.button-box {
  margin: 0;
  list-style: none;
  display: flex;
}
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.title {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $notitletextcolor;
  margin-right: auto;
  margin-left: auto;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
 
  &:nth-child(3) {
    padding-top: 0;
  }
}
body {
  background-color: $primarywhitecolor;
  font-family: Roboto, sans-serif;
  color: $titletextcolor;
  line-height: 1.71;
}
@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .section{
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
